<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head th:replace="plantillas/principal :: head">
</head>
<body>
    <header th:replace="plantillas/principal :: header"></header>
    
    <div class="container my-2">
        <div class="card">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <a th:href="@{/servicios}" class="btn btn-secondary my-3 ml-3 ">Volver</a>

                <form id="formServicio" th:action="@{/servicios/guardar}" th:object="${servicio}" method="POST">
                    <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="cliente" class="col-sm col-form-label">CLIENTE</label>
                            <div class="col-sm  mb-3">
                                <input id="cliente" type="hidden" th:field="*{cliente.id}">
                                <input id="cliente_ver" th:onclick="|buscarCliente()|" type="text" class="form-control" 
                                th:attrappend="class=${alertDangerCliente}" th:value="${cliente}" 
                                placeholder="Haga click para seleccionar un cliente" readonly>
                                <small class="form-text text-danger" th:text="${errorCliente}"></small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="equipo" class="col-sm col-form-label">EQUIPO</label>
                            <div class="col-sm  mb-3">
                                <input id="equipo" type="text" th:field="*{equipo}" class="form-control" placeholder="Datos del equipo" 
                                th:errorclass="'form-control alert-danger'">
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('equipo')}" th:errors="*{equipo}"></small>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check ml-3">
                                <label for="cargador" class="form-check-label">
                                    <input id="cargador" th:field="*{cargador}" type="checkbox" class="form-check-input">CARGADOR
                                </label>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check ml-3">
                                <label for="bateria" class="form-check-label">
                                    <input id="bateria" checked th:field="*{bateria}" type="checkbox" class="form-check-input" th:checked="${checked}">BATERIA
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sector" class="col-sm col-form-label">SECTOR</label>
                            <div class="col-sm  mb-3">
                                <input id="sector" type="hidden" th:field="*{sector.id}">
                                <input id="sector_ver" th:onclick="|buscarSector()|" type="text" class="form-control"  
                                th:attrappend="class=${alertDangerSector}" th:value="${sector}" 
                                placeholder="Haga click para seleccionar un sector" readonly>
                                <small class="form-text text-danger" th:text="${errorSector}"></small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="problemaReportado" class="col-sm col-form-label">PROBLEMA REPORTADO</label>
                            <div class="col-sm  mb-3">
                                <textarea id="problemaReportado" type="text" th:field="*{problemaReportado}" class="form-control"  placeholder="Detalle el problema" 
                                th:errorclass="'form-control alert-danger'"></textarea>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('problemaReportado')}" th:errors="*{problemaReportado}"></small>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label for="observaciones" class="col-sm col-form-label">OBSERVACIONES</label>
                            <div class="col-sm  mb-3">
                                <textarea id="observaciones" type="text" th:field="*{observaciones}" class="form-control"  placeholder="Ingrese una observación" 
                                th:errorclass="'form-control alert-danger'"></textarea>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('observaciones')}" th:errors="*{observaciones}"></small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="solucion" class="col-sm col-form-label">SOLUCION</label>
                            <div class="col-sm  mb-3">
                                <textarea id="solucion" type="text" th:field="*{solucion}" class="form-control" th:attrappend="class=${alertDangerSolucion}"  placeholder="Ingrese la solución"></textarea>
                                <small class="form-text text-danger" th:text="${errorSolucion}"></small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="estado" class="col-sm col-form-label">ESTADO</label>
                            <div class="col-sm  mb-3">
                                <select name="estado" id="estado" th:field="*{estado}">
                                    <option id="estado_" th:attrappend="id=${estado.id}"  th:each="estado : ${estados}" th:value="${estado.id}" th:text="${estado.nombre}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fechaIngreso" class="col-sm col-form-label">FECHA DE INGRESO</label>
                            <div class="col-sm  mb-3">
                                <input id="fechaIngreso" type="text" th:field="*{fechaIngreso}" class="form-control"  placeholder="HH:MM DD/MM/AAAA"
                                th:errorclass="'form-control alert-danger'">
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('fechaIngreso')}" th:errors="*{fechaIngreso}"></small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fechaTerminado" class="col-sm col-form-label">FECHA DE FINALIZACIÓN</label>
                            <div class="col-sm  mb-3">
                                <input id="fechaTerminado" type="text" th:field="*{fechaTerminado}" class="form-control" placeholder="HH:MM DD/MM/AAAA"> <!--  th:errorclass="'form-control alert-danger'"> -->
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('fechaTerminado')}" th:errors="*{fechaTerminado}"></small>
                            </div>
                        </div>
                        
                    
                    </div>
                </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input id="botonGuardar" class="btn btn-success my-3 ml-3" type="submit" value="Guardar">
                        </div>
                    </div>
                </form>
               
            </div>
        </div>
    </div>



    <!-- MODAL SELECCIONAR CLIENTES -->
  <div class="modal fade" id="buscarClienteModal" tabindex="-1" aria-labelledby="buscarClienteModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Seleccionar Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control col-sm-3 my-3 float-left buscador" placeholder="Buscar">
            <a th:href="@{/clientes/nuevo}" class="btn btn-primary my-3 float-right"><i class="fas fa-user-plus"></i></a>
            <table class="table table-sm table-striped table-hover table-bordered text-center">
                <thead class="thead-dark text-light">
                    <tr>
                        <th>SELECCIONAR</th>
                        <th>DNI - CUIT</th>
                        <th>RAZON SOCIAL</th>
                        <th>CONTACTO</th>
                        <th>TELEFONO</th>
                        <th>EMAIL</th>
                        <th>DIRECCION</th>
                        <th>FECHA DE ALTA</th>
                        <th class="opciones">OPCIONES</th>
                    </tr>
                </thead>
                <tbody id="tabla-clientes" class="tabla">
                    <!-- SE CARGA CON JS -->
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


    <!-- MODAL SELECCIONAR SECTOR -->
    <div class="modal fade" id="buscarSectorModal" tabindex="-1" aria-labelledby="buscarSectorModal" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Seleccionar Sector</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control col-sm-3 my-3 float-left buscador" placeholder="Buscar">
                <a th:href="@{/sectores/nuevo}" class="btn btn-primary my-3 float-right"><i class="fas fa-plus"></i></a>
                <table class="table table-sm table-striped table-hover table-bordered text-center">
                    <thead class="thead-dark text-light">
                        <tr>
                            <th>SELECCIONAR</th>
                            <th>SECTOR</th>
                            <th>DISPONIBLE</th>
                            <th class="opciones">OPCIONES</th>
                        </tr>
                    </thead>
                    
                    <tbody id="tabla-sectores" class="tabla">
                      <!-- SE CARGA CON JS -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

</body>
</html>