<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">

<head th:replace="plantillas/principal :: head">
</head>

<body>
  <div class="container-fluid my-4 pb-3 monitor">
    <div class="row">
      <div class="col-sm monitor-pendiente">
        <h2 class="text-center my-2 h2-monitor">SERVICIOS PENDIENTES <span th:text="${'(' + totalPendientes + ')'}"></span></h2>
        <div class="card my-3 card-pendiente" th:each="servicioPendiente : ${serviciosPendientes}">
          <div class="card-header alert-danger" >
            <span th:text="${servicioPendiente.equipo} + ' - ' + ${#calendars.format(servicioPendiente.fechaIngreso,'HH:mm dd/MM/yyyy')}">
            </span>
            <span class="float-right" th:text="${servicioPendiente.sector.nombre}"></span>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p th:text="${servicioPendiente.problemaReportado}"></p>
              <span class="blockquote-footer" th:text="${servicioPendiente.cliente.razonSocial} + ' - ' + ${servicioPendiente.cliente.telefono}"></span>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-sm monitor-en-proceso">
        <h2 class="text-center my-2 h2-monitor">SERVICIOS EN PROCESO <span th:text="${'(' + totalEnProceso + ')'}"></span></h2>
        <div class="card my-3" th:each="servicioEnProceso : ${serviciosEnProceso}">
          <div class="card-header alert-warning" >
            <span th:text="${servicioEnProceso.equipo}  + ' - ' + ${#calendars.format(servicioEnProceso.fechaIngreso,'HH:mm dd/MM/yyyy')}"></span>
            <span class="float-right" th:text="${servicioEnProceso.sector.nombre}"></span>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p  th:text="${servicioEnProceso.problemaReportado}"></p>
              <span class="blockquote-footer" th:text="${servicioEnProceso.cliente.razonSocial} + ' - ' + ${servicioEnProceso.cliente.telefono}"></span>
            </blockquote>
          </div>
        </div>
      </div>

    </div>
  </div>
  <script type="text/javascript">
    function actualizar(){
      location.reload(true);
      }
  //Función para actualizar cada 1 minuto el monitor de servicios(60000 milisegundos)
    setInterval("actualizar()",60000);
  </script>
</body>
</html>