<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">

<head th:replace="plantillas/principal :: head">
</head>

<body>
    <header th:replace="plantillas/principal :: header"></header>

    <div class="container-fluid my-2">
        <div class="card">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <input type="text" class="form-control col-sm-2 my-3 float-left buscador" focus placeholder="Buscar">
                <a th:href="@{/usuarios/nuevo}" class="btn btn-primary my-3 float-right"><strong>Agregar</strong></a>
                <table class="table table-sm table-striped table-hover table-bordered text-center">
                    <thead class="thead-dark text-light">
                        <tr>
                            <th>USUARIO</th>
                            <th>NOMBRE COMPLETO</th>
                            <th>ROL</th>
                            <th>HABILITADO</th>
                            <th>FECHA DE ALTA</th>
                            <th class="opciones">OPCIONES</th>
                        </tr>
                    </thead>
                    <tbody class="tabla">
                        <tr th:each="usuario : ${usuarios}" th:unless="${usuario.nombreUsuario == 'admin'}">
                            <td class="align-middle" th:text="${usuario.nombreUsuario}"></td>
                            <td class="align-middle" th:text="${usuario.nombreCompleto}"></td>
                            <td class="align-middle" th:text="${#strings.equals(usuario.rol.authority, 'admin')} ? 'administrador' : 'usuario'"></td>
                            <td class="align-middle" th:text="${#strings.equals(usuario.habilitado, 'true')} ? 'SI' : 'NO'"></td>
                            <td class="align-middle" th:text="${#calendars.format(usuario.fechaAlta,'dd/MM/yyyy')}"></td>
                            <td class="align-middle">
                                <a th:href="@{/usuarios/editar/} + ${usuario.id}" class="btn btn-warning mx-1"
                                data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="far fa-edit"></i></a>
                                <a th:data_nombreUsuario="${usuario.nombreUsuario}" id="borrar_" th:attrappend="id=${usuario.id}" 
                                th:onclick="|borrarUsuario('${usuario.id}', this.getAttribute('data_nombreUsuario'))|" 
                                class="btn btn-danger mx-1"
                                data-toggle="tooltip" data-placement="bottom" title="Eliminar"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
  <div class="modal fade" id="borrarModal" tabindex="-1" aria-labelledby="borrarModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Atención</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Está seguro que quiere eliminar el usuario <span class="nombreUsuario"></span>?
           <span></span> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <a id="borrarBoton" class="btn btn-danger mx-1">Eliminar</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>