<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">

<head th:replace="/plantillas/principal :: head">
</head>

<body>
    <header th:replace="/plantillas/principal :: header"></header>

    <div class="container-fluid my-2">
        <div class="card">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <input type="text" class="form-control col-sm-2 my-3 float-left buscador" focus placeholder="Buscar">
                <a th:href="@{/clientes/nuevo}" class="btn btn-primary my-3 float-right"><i class="fas fa-user-plus"></i></a>
                <table class="table table-sm table-striped table-hover table-bordered text-center">
                    <thead class="thead-dark text-light">
                        <tr>
                            <th>DNI - CUIT</th>
                            <th>RAZON SOCIAL</th>
                            <th>CONTACTO</th>
                            <th>TELEFONO</th>
                            <th>EMAIL</th>
                            <th>DIRECCION</th>
                            <th>FECHA DE ALTA</th>
                            <th class="opciones">OPCIONES</th>
                        </tr>
                    </thead>
                    <tbody class="tabla">
                        <tr th:each="cliente : ${clientes}">
                            <td th:text="${cliente.dniCuit}"></td>
                            <td th:text="${cliente.razonSocial}"></td>
                            <td th:text="${cliente.contacto}"></td>
                            <td th:text="${cliente.telefono}"></td>
                            <td th:text="${cliente.email}"></td>
                            <td th:text="${cliente.direccion}"></td>
                            <td th:text="${#calendars.format(cliente.fechaAlta,'dd/MM/yyyy')}"></td>
                            <td class="opciones">
                                <a th:href="@{/clientes/ver/} + ${cliente.id}" class="btn btn-success mx-1"><i class="far fa-eye"></i></a>
                                <a th:href="@{/clientes/editar/} + ${cliente.id}" class="btn btn-warning mx-1"><i class="far fa-edit"></i></a>
                                <a th:data_razonSocial="${cliente.razonSocial}" id="borrar_" th:attrappend="id=${cliente.id}" 
                                th:onclick="|borrarCliente('${cliente.id}', this.getAttribute('data_razonSocial'))|" 
                                class="btn btn-danger mx-1"><i class="far fa-trash-alt"></i></a>
                                <a class="btn btn-secondary mx-1" th:href="@{/servicios/cliente/} + ${cliente.id}"><i class="far fa-list-alt"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
  <div class="modal fade" id="borrarModal" tabindex="-1" aria-labelledby="borrarModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Atención</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Está seguro que quiere eliminar el cliente <span class="razonSocial"></span>?
           <span></span> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <a id="borrarBoton" class="btn btn-danger mx-1">Eliminar</a>
        </div>
      </div>
    </div>
  </div>

   <!-- <footer th:replace="/plantillas/principal :: footer"></footer> -->
</body>
</html>