<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">

<head th:replace="plantillas/principal :: head">
</head>

<body>
  <header th:replace="plantillas/principal :: header"></header>

  <div class="container-fluid my-4 pb-3 bg-light">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" th:class="${#strings.equals(pill_activo, 'todos')} ? 'nav-link active' : 'nav-link'" 
        th:href="@{/servicios/cliente/} + ${cliente.id}">TODOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:class="${#strings.equals(pill_activo, 'pendiente')} ? 'nav-link active' : 'nav-link'" 
        th:href="@{/servicios/pendiente/cliente/} + ${cliente.id}">PENDIENTE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:class="${#strings.equals(pill_activo, 'en_proceso')} ? 'nav-link active' : 'nav-link'" 
        th:href="@{/servicios/en-proceso/cliente/} + ${cliente.id}">EN PROCESO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:class="${#strings.equals(pill_activo, 'terminado')} ? 'nav-link active' : 'nav-link'" 
        th:href="@{/servicios/terminado/cliente/} + ${cliente.id}">TERMINADO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:class="${#strings.equals(pill_activo, 'entregado')} ? 'nav-link active' : 'nav-link'" 
        th:href="@{/servicios/entregado/cliente/} + ${cliente.id}">ENTREGADO</a>
      </li>
    </ul>


    <input type="text" class="form-control col-sm-2 my-3 float-left buscador" focus placeholder="Buscar">
    <a th:href="@{/servicios/nuevo}" class="btn btn-primary my-3 float-right"><i class="fas fa-plus"></i></a>
    <table class="table table-striped table-hover table-bordered text-center">
      <thead class="thead-dark text-light">
        <tr>
          <th>CLIENTE</th>
          <th>EQUIPO</th>
          <th>CARGADOR</th>
          <th>BATERIA</th>
          <th>SECTOR</th>
          <th>PROBLEMA REPORTADO</th>
          <th class="observaciones">OBSERVACIONES</th>
          <th>SOLUCION</th>
          <th>FECHA DE INGRESO</th>
          <th>FECHA DE FINALIZACIÓN</th>
          <th>ESTADO</th>
          <th class="opciones">OPCIONES</th>
        </tr>
      </thead>
      <tbody class="tabla">
        <tr th:if="${#lists.isEmpty(servicios)}">  
          <td colspan="12" class="alert alert-warning">
              El cliente no tiene servicios.
          </td>     
        </tr>
        <tr th:each="servicio : ${servicios}" th:if="${not #lists.isEmpty(servicios)}" th:switch="${servicio.estado.nombre}">
          <td th:text="${servicio.cliente.razonSocial}"></td>
          <td th:text="${servicio.equipo}"></td>
          <td th:if="${servicio.cargador}">
            <div class="ok bg-success">
              <i class="fas fa-check"></i>
            </div>
          </td>

          <td th:if="${!servicio.cargador}">
            <div class="no-tiene bg-danger">
              <i class="fas fa-times-circle"></i>
            </div>
          </td>

          <td th:if="${servicio.bateria}">
            <div class="ok bg-success">
              <i class="fas fa-check"></i>
            </div>
          </td>
          <td th:if="${!servicio.bateria}">
            <div class="no-tiene bg-danger">
              <i class="fas fa-times-circle"></i>
            </div>
          </td>
          <td th:if="${servicio.sector != null}"><div class="sector bg-info" th:text="${servicio.sector.nombre}"></div></td>
          <td th:if="${servicio.sector == null}" th:text="${''}"></td>
          <!-- <td th:text="${#strings.equals(servicio.cargador, 'true')} ? 'SI' : 'NO'"></td>
          <td th:text="${#strings.equals(servicio.bateria, 'true')} ? 'SI' : 'NO'"></td>
          <td th:if="${servicio.sector != null}" th:text="${servicio.sector.nombre}"></td>
          <td th:if="${servicio.sector == null}" th:text="${''}"></td> -->
          <td th:text="${servicio.problemaReportado}"></td>
          <td class="observaciones" th:text="${servicio.observaciones}"></td>
          <td th:text="${servicio.solucion}"></td>
          <td th:text="${#calendars.format(servicio.fechaIngreso,'HH:mm dd/MM/yyyy')}"></td>
          <td th:text="${#calendars.format(servicio.fechaTerminado,'HH:mm dd/MM/yyyy')}"></td>
          <td th:text="${servicio.estado.nombre}"></td>
      
          <td>
              <input type="hidden" id="input_" th:attrappend="id=${servicio.id}" th:value="${servicio.id}">
              <a th:href="@{/servicios/editar/} + ${servicio.id}" class="btn btn-warning mx-1"><i class="far fa-edit"></i></a>
              <a id="borrar_" th:attrappend="id=${servicio.id}" 
              th:data_razonSocial="${servicio.cliente.razonSocial}"
              th:data_estado="${servicio.estado.nombre}"
              th:onclick="|borrarServicio('${servicio.id}', this.getAttribute('data_razonSocial'), this.getAttribute('data_estado'))|" 
              class="btn btn-danger mx-1"><i class="far fa-trash-alt"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <!-- Modal -->
  <div class="modal fade" id="borrarModal" tabindex="-1" aria-labelledby="borrarModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Atención</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Está seguro que quiere eliminar el servicio del cliente <span class="razonSocial"></span> con estado <span class="servicio_estado"></span>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <a id="borrarBoton" class="btn btn-danger mx-1">Eliminar</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>