<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">

<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/animate.min.css}">
  <link rel="stylesheet" th:href="@{/css/fontawesome/all.min.css}">
  <link rel="shortcut icon" type="image/webp" th:href="@{/img/logo.webp}" />
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/fontawesome/all.min.js}"></script>
  <script th:src="@{/js/moment.min.js}"></script>
  <script th:src="@{/js/moment.locales.min.js}"></script>
  <script th:src="@{/js/main.js}"></script>
  <title th:if="${error != 'Forbidden'}" th:text="${titulo} + ' - Megasolution'"></title>
  <title th:if="${error == 'Forbidden'}" th:text="'Error - Megasolution'"></title>
 </head>

<body>
  <header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
      <a class="navbar-brand" th:href="@{/inicio}">
        <img type="image/webp" th:src="@{/img/logo.webp}" />
        MEGASOLUTION
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto" >
          <li class="nav-item" th:class="${#strings.equals(active, 'inicio')} ? 'nav-item active' : 'nav-item'" > <!-- th:class="${active}" -->
            <a class="nav-link" th:href="@{/inicio}">INICIO<span class="sr-only"></span></a>
          </li>
          <li class="nav-item" th:class="${#strings.equals(active, 'clientes')} ? 'nav-item active' : 'nav-item'" >
            <a class="nav-link" th:href="@{/clientes}">CLIENTES</a>
          </li>
          <li class="nav-item" th:class="${#strings.equals(active, 'servicios')} ? 'nav-item active' : 'nav-item'">
            <a class="nav-link" th:href="@{/servicios}">SERVICIO TÉCNICO</a>
          </li>
          <li class="nav-item" th:class="${#strings.equals(active, 'sectores')} ? 'nav-item active' : 'nav-item'">
            <a class="nav-link" th:href="@{/sectores}">SECTORES</a>
          </li>
          <li class="nav-item" th:class="${#strings.equals(active, 'usuarios')} ? 'nav-item active' : 'nav-item'">
            <a class="nav-link" th:href="@{/usuarios}">USUARIOS</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" target="_blank" th:href="@{/servicios/monitor}">MONITOR</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link text-white" style="min-width: 7rem;">
              <span sec:authentication="name"></span>
            </a>
          </li>
          <li class="nav-item">
            <form th:action="@{/logout}" method="POST">
              <button id="btn-salir" class="btn btn-dark bg-dark text-white" type="submit" th:href="@{/logout}" value="Salir">Salir</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>

    <!-- ALERTAS -->
    <div class="alert alert-success alert-dismissible fade show mt-1 mx-1 animate__animated animate__headShake" th:if="${successNuevo != null}">
      <span th:text="${successNuevo}"></span>&nbsp;&nbsp;
        <a class="btn btn-secondary" th:href="@{'/servicios/imprimir/' + ${servicioId}(format=pdf)}" target="_blank" >
          <i class="fas fa-print"></i>
        </a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="alert alert-success alert-dismissible fade show mt-1 mx-1 animate__animated animate__headShake" th:if="${success != null}" >
      <span th:text="${success}"></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show mt-1 mx-1 animate__animated animate__headShake"  th:if="${error != null && error != 'Forbidden'}"  >
      <span th:text="${error}"></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-warning alert-dismissible fade show mt-1 mx-1 animate__animated animate__headShake" th:if="${warning != null}"  >
      <span th:text="${warning}"></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-info alert-dismissible fade show mt-1 mx-1 animate__animated animate__headShake" th:if="${info != null}" >
      <span th:text="${successNuevo}"></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- FIN ALERTAS -->
  </header>

  <!-- Modal -->
  <div th:fragment="modal" class="modal fade" id="modal" tabindex="-1" aria-labelledby="borrarModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal titulo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>