<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">

<head th:replace="plantillas/principal :: head">
</head>

<body>
    <header th:replace="plantillas/principal :: header"></header>

    <div class="container my-2 animate__animated animate__fadeIn">
        <div class="card">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <a th:href="@{/clientes}" class="btn btn-secondary my-3 ">Volver</a>

                <form th:action="@{/clientes/guardar}" th:object="${cliente}" method="POST">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="dni" class="col-sm col-form-label">DNI - CUIT</label>
                                <div class="col-sm  mb-3">
                                    <input id="dniCuit" type="number" th:field="*{dniCuit}" class="form-control"
                                        th:attrappend="class=${alertDangerDniCuit}" placeholder="Ingrese un dni o cuit"
                                        th:errorclass="'form-control alert-danger'">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('dniCuit')}" h:errors="*{dniCuit}"></small> 
                                <small class="form-text text-danger" th:if="${errorDniCuit}" th:text="${errorDniCuit}"></small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="razonSocial" class="col-sm col-form-label">RAZON SOCIAL</label>
                            <div class="col-sm  mb-3">
                                <input id="razonSocial" type="text" th:field="*{razonSocial}" class="form-control"  placeholder="Ingrese la razón social" th:errorclass="'form-control alert-danger'">
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('razonSocial')}" th:errors="*{razonSocial}"></small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contacto" class="col-sm col-form-label">CONTACTO</label>
                            <div class="col-sm  mb-3">
                                <input id="contacto" type="text" th:field="*{contacto}" class="form-control"  placeholder="Ingrese un contacto" th:errorclass="'form-control alert-danger'">
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('contacto')}" th:errors="*{contacto}"></small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="telefono" class="col-sm col-form-label">TELEFONO</label>
                            <div class="col-sm  mb-3">
                                <input  id="telefono" type="number" th:field="*{telefono}" class="form-control"  placeholder="Ingrese un teléfono" th:errorclass="'form-control alert-danger'" >
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm col-form-label">EMAIL</label>
                            <div class="col-sm  mb-3">
                                <input id="email" type="text" th:field="*{email}" class="form-control uppercase"  placeholder="Ingrese un email" th:errorclass="'form-control alert-danger'">
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label for="web" class="col-sm col-form-label">WEB</label>
                            <div class="col-sm  mb-3">
                                <input id="web" type="text" th:field="*{web}" class="form-control"  placeholder="Ingrese un sitio web" th:errorclass="'form-control alert-danger'">
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('web')}" th:errors="*{web}"></small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="direccion" class="col-sm col-form-label">DIRECCION</label>
                            <div class="col-sm  mb-3">
                                <input id="direccion" type="text" th:field="*{direccion}" class="form-control"  placeholder="Ingrese la dirección" th:errorclass="'form-control alert-danger'">
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small>
                            </div>
                        </div>
                        <div class="form-group d-none" >
                            <label for="estado" class="col-sm col-form-label">PAIS</label>
                            <div class="col-sm  mb-3">
                                <select name="pais" id="pais" th:field="*{pais}">
                                    <option th:each="pais : ${paises}" th:value="${pais.nombre}" th:text="${pais.nombre}">¿</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="estado" class="col-sm col-form-label">PROVINCIA</label>
                            <div class="col-sm  mb-3">
                                <select th:onchange="|getCiudades(this.value)|" name="provincia" id="provincia" th:field="*{provincia}">
                                    <option th:each="provincia : ${provincias}"
                                            th:data_provincia="${provincia.nombre}"
                                            th:value="${provincia.nombre}"
                                            th:text="${provincia.nombre}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="estado" class="col-sm col-form-label">LOCALIDAD</label>
                            <div class="col-sm  mb-3">
                                <select name="localidad" id="localidad" th:field="*{localidad}" >
                                    <option th:each="localidad : ${localidades}" th:value="${localidad.nombre}" th:text="${localidad.nombre}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fechaAlta" class="col-sm col-form-label">FECHA DE ALTA</label>
                            <div class="col-sm  mb-3">
                                <input id="fechaAlta" type="text" th:field="*{fechaAlta}" class="form-control"  placeholder="HH:MM DD/MM/AAAA" th:errorclass="'form-control alert-danger'">
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('fechaAlta')}" th:errors="*{fechaAlta}"></small>
                            </div>
                        </div>
                        

                    </div>
                </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input class="btn btn-success my-4" type="submit" value="Guardar">
                        </div>
                    </div>
                </form>
               
            </div>
        </div>
    </div>
</body>
</html>