@font-face {
    font-family: "titilium";
    src: url("fonts/titilium.ttf");
    font-display: auto;
  }

#login img{
  margin: auto;
  width: 200px;
  height: 200px;
}
#errorPage{
  margin-top: 200px;
}

body {
    font-family: "titilium";
    font-weight: bolder;
    background-color: #eee;
}

footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.navbar .navbar-brand {
  background-color: #f3f3f3f3; 
  color: #343b40; 
  border-radius: 10px; 
  padding-top: 5px; 
  padding-bottom: 0; 
  padding-left: 5px; 
  padding-right: 5px;
}
.navbar .navbar-brand:hover {
  color: #343b40;
}
.navbar .navbar-brand img {
  margin-bottom: 4px;
  width: 30px;
}



.nav-pills .nav-link{
  color: #083a93 !important;
  background-color: lightgray;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 15px;
}


.nav-item .active {
  color: #fff !important;
  background-color: #083a93 !important;
  margin-right: 5px;
  margin-left: 5px;
  
}

.btn,.form-control,select{
  border-radius: 12px;
}

select {
  height: 38px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-primary{
  background-color: #083a93 !important;
  border-color: #083a93 !important;
}
.active{
  background-color: rgba(255, 255, 255, 0.1); /*#083a93;*/
  border-radius: 10px;
}
td{
  max-width: 300px;
}
.opciones{
  width: 225px;
  min-width: 225px;
}

#datosCliente, #datosEquipo{
  background-color: #083a93a6;
  border-radius: 15px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}
#datosEquipo{
  background-color: #e57a178f;
  padding-bottom: 10px;
}

.cargador,
.bateria,
.ingreso,
.terminado,
.estado{
  width: 100px;
}

#problemaReportado, #solucion{
  height: 88px;
}

.monitor .cardPendiente a{
  position:absolute; /* posicion con respecto a la posicion del div */
  width:100%;
  height:100%;
}
.monitor .cardPendiente{
  cursor: pointer;
  border-radius: 20px;
}

.monitor .cardEnProceso a{
      position:absolute; /* posicion con respecto a la posicion del div */
       width:100%;
       height:100%;
}
.monitor .cardEnProceso{
  cursor: pointer;
  border-radius: 20px;
}
.h2-monitor{
  font-size: 35px;
  font-weight: bold;
  background-color: #083a93;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
}

.card-header{
  font-size: 30px;
}
.card-body p{
  font-size: 25px;
}
.card-body span{
  font-size: 25px;
}

.dropdown-menu {
  top: 115%;
}
#tarjetas{
  margin: 0px !important;
}

#tarjetas .card {
  border-radius: 20px;
  margin: 15px;
  box-shadow: 0px 0px 10px 0px lightgray;
  padding: 10px;
}
#tarjetas .card .card-header{
  background-color: rgba(0, 0, 0, 0.0);
}
aside .card{
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px lightgray;
  margin-top: 14px;
}
aside .card .card-header{
  background-color: rgba(0, 0, 0, 0.0);
  border-bottom: none;
}
.card-header:first-child{
  border-radius: 20px 20px 0px 0px;
}

#listaAvisos{
  max-height: 618px;
  overflow-y: auto; 
  border-radius: 0px 0px 20px 20px;

}

::-webkit-scrollbar {

  -webkit-appearance: none;
  
}

::-webkit-scrollbar:vertical {
  width:10px;
}

::-webkit-scrollbar-button:increment,.listaAvisos::-webkit-scrollbar-button {
  display: none;
} 

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
  height: 15%;
}

::-webkit-scrollbar-track {
  border-radius: 10px;  
}

#listaAvisos ul li{
 
  background-color: #eee;
}

#listaAvisos ul li .alert{
  border-radius: 15px;
  
}

.ok, .no-tiene, .sector{
  border-radius: 10px;
  padding: 4px;
  margin: auto;
  width: 30px;
  height: 30px;
}

.sector{
  width: 60px;
  line-height: 23px;
}

.card .card-body .lista-sectores .table {
  font-size: 15px !important;
}
.modal-dialog{
  max-width: 80%;
}

#sector_ver{
  cursor: pointer;
}

@media(max-width: 1400px){

  .table{
    font-size: 13px;
  }
  .table th{
    padding-left: 4px;
    padding-right: 4px;
    /* font-size: 10px; */
  }
  .table td{
    padding-left: 4px;
    padding-right: 4px;
    /* font-size: 10px; */
  }
  
  .opciones{
    min-width: 150px;
  }
  .opciones-servicios, .opciones-sectores{
    max-width: 65px;
  }

  

  #tarjetas{
    max-width: 60%;
  }
  .col-3{
    flex: 1 0 25%;
    max-width: none;
  }
  .sector{
    width: 50px;
 
  }
    
}

@media(max-width: 990px){
  .opciones{
    min-width: 110px;
    margin: 0px;
    padding: 0px;
  }
  .table{
    font-size: 11px;
  }
  .table td:last-child{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .table a{
    margin: 1px;
    font-size: 10px;
    padding: 6px;
  }
  .table .ok,
  .table .no-tiene,
  .table .sector{
    width: 25px;
    height: 30px;
    line-height: 25px;
  }
  .modal-dialog{
    max-width: none;
  }
  .observaciones{
    display: none;
  }
  .sector{
    width: 40px !important;
  }
}