#login img{
  margin: auto;
  width: 200px;
  height: 200px;
}
#errorPage{
  margin-top: 200px;
}

body {
  font-family: Verdana, sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
  background-color: #eee;
  font-size: small;
}

.navbar .navbar-brand {
  background-color: #f3f3f3f3; 
  color: #343b40; 
  border-radius: 10px; 
  padding-top: 5px; 
  padding-bottom: 0; 
  padding-left: 5px; 
  padding-right: 5px;
}
.navbar .navbar-brand:hover {
  color: #343b40;
}
.navbar .navbar-brand img {
  margin-bottom: 4px;
  width: 30px;
}

#btn-salir{
  background-color: black !important;
  margin-top: 2px;
}


.nav-pills .nav-link{
  color: #033796 !important;
  background-color: lightgray;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
}


.nav-item .active {
  color: #fff !important;
  background-color: #033796 !important;
  margin-right: 5px;
  margin-left: 5px;
  
}

.btn,.form-control,select{
  border-radius: 10px;
  font-size: small;
}

select {
  height: 38px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-primary{
  background-color: #033796 !important;
  border-color: #033796 !important;
  font-size: small;
}
.active{
  background-color: rgba(255, 255, 255, 0.1); /*#033796;*/
  border-radius: 10px;
}
td{
  max-width: 300px;
}
.opciones{
  width: 180px;
  min-width: 180px;
}

#datosCliente, #datosEquipo{
  color: white;
  background-color: #033796a6;
  border-radius: 10px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}
#datosEquipo{
  color: black;
  background-color: #e57a178f;
  padding-bottom: 10px;
}
#tabla-clientes{
  color: white;
}

.cargador,
.bateria,
.ingreso,
.terminado,
.estado{
  width: 100px;
}

#problemaReportado, #solucion{
  height: 88px;
}

.monitor .cardPendiente a{
  position:absolute; /* posicion con respecto a la posicion del div */
  width:100%;
  height:100%;
}
.monitor .cardPendiente{
  cursor: pointer;
  border-radius: 20px;
}

.monitor .cardEnProceso a{
      position:absolute; /* posicion con respecto a la posicion del div */
       width:100%;
       height:100%;
}
.monitor .cardEnProceso{
  cursor: pointer;
  border-radius: 20px;
}

.monitor .card-header {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.monitor .col-monitor{
  background-color: transparent;
}

.monitor .card-header-monitor{
  font-size: 35px !important;
  background-color: #033796;
  color: #fff;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  padding: 10px;
  text-align: center;
}

.monitor .card{
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.monitor .card-body, .card {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.card-header{
  font-size: 20px;
}
.card-body p{
  font-size: 25px;
}
.card-body span{
  font-size: 25px;
}

#tarjetas{
  margin: auto !important;
  width: 90%;

}

#tarjetas .card {
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0px 0px 10px 0px lightgray;
  padding: 10px;
}
#tarjetas .card .card-header{
  background-color: rgba(0, 0, 0, 0.0);
}

.ok, .no-tiene, .sector{
  border-radius: 10px;
  padding: 4px;
  margin: auto;
  width: 30px;
  height: 30px;
}

.sector{
  width: 60px;
  line-height: 23px;
}

.card .card-body .lista-sectores .table {
  font-size: 15px !important;
}
.modal-dialog{
  max-width: 80%;
}

#sector_ver{
  cursor: pointer;
}

@media(max-width: 1400px){
  .table{
    font-size: 13px;
  }
  .table th{
    padding-left: 4px;
    padding-right: 4px;
  }
  .table td{
    padding-left: 4px;
    padding-right: 4px;
  }
  
  .opciones{
    min-width: 150px;
  }
  .opciones-servicios, .opciones-sectores{
    max-width: 65px;

  }
}
@media(max-width: 990px){
  .opciones{
    min-width: 110px;
    margin: 0px;
    padding: 0px;
  }
  .table{
    font-size: 11px;
  }
  .table td:last-child{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .table a{
    margin: 1px;
    font-size: 10px;
    padding: 6px;
  }
  .table .ok,
  .table .no-tiene,
  .table .sector{
    width: 25px;
    height: 30px;
    line-height: 25px;
  }
  .modal-dialog{
    max-width: none;
  }
  .observaciones{
    display: none;
  }
  .sector{
    width: 40px !important;
  }
}

.tabla tbody tr:nth-child(4n+2) {
  background: #aaa;
}

.tabla tbody tr:nth-child(8n+2) {
  background: #ccc;
}