@font-face {
    font-family: "titilium";
    src: url("fonts/titilium.ttf");
    font-display: auto;
  }

#login img{
  margin: auto;
  width: 200px;
  height: 200px;
}
#errorPage{
  margin-top: 200px;
}

body {
    font-family: "titilium";
    font-weight: bolder;
    background-color: #eee;
}

footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.nav-pills .nav-link{
  color: #083a93 !important;
}
.nav-item .active {
  color: #fff !important;
  background-color: #083a93 !important;
}

.btn-primary{
  background-color: #083a93 !important;
  border-color: #083a93 !important;
}
.active{
  background-color: rgba(255, 255, 255, 0.1); /*#083a93;*/
  border-radius: 4px;
}
td{
  max-width: 300px;
}
.opciones{
  width: 225px;
  min-width: 225px;
}
.cargador,
.bateria,
.ingreso,
.terminado,
.estado{
  width: 100px;
}

#problemaReportado{
  height: 88px;
}

.h2-monitor{
  font-size: 35px;
  font-weight: bold;
  background-color: #083a93;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.card-header{
  font-size: 30px;
}
.card-body p{
  font-size: 25px;
}
.card-body span{
  font-size: 25px;
}

.dropdown-menu {
  top: 115%;
}
#tarjetas{
  margin: 0px !important;
}

#tarjetas .card {
  border-radius: 10px;
  margin: 15px;
  box-shadow: 0px 0px 10px 0px lightgray;
  padding: 10px;
}
#tarjetas .card .card-header{
  background-color: rgba(0, 0, 0, 0.0);
}
aside .card{
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px lightgray;
  
  margin-top: 14px;
}
aside .card .card-header{
  background-color: rgba(0, 0, 0, 0.0);
  border-bottom: none;
}

#listaAvisos{
  max-height: 618px;
  overflow-y: auto; 
}
#listaAvisos ul li{
 
  background-color: #eee;
}
#listaAvisos ul:last-child{
  border-radius: 0px 0px 10px 10px;
}
#listaAvisos ul li .alert{
  border-radius: 10px;
  
}

.ok{
  border-radius: 5px;
  padding: 4px;
  margin: auto;
  width: 30px;
  height: 30px;
}
.no-tiene{
  border-radius: 5px;
  padding: 4px;
  margin: auto;
  width: 30px;
  height: 30px;
}
.sector{
  border-radius: 5px;
  padding: 4px;
  margin: auto;
  width: 45px;
  height: 30px;
  line-height: 23px;
}

@media(max-width: 1350px){

  .table{
    font-size: 13px;
  }
  .table th{
    padding-left: 4px;
    padding-right: 4px;
    /* font-size: 10px; */
  }
  .table td{
    padding-left: 4px;
    padding-right: 4px;
    /* font-size: 10px; */
  }
  .opciones{
    min-width: 150px;
  }
  .modal-dialog{
    max-width: 1000px;
  }
  
}

@media(max-width: 990px){
  .opciones{
    min-width: 110px;
    margin: 0px;
    padding: 0px;
  }
  .table{
    font-size: 11px;
  }
  .table td:last-child{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .table a{
    margin: 1px;
    font-size: 10px;
    padding: 6px;
   /*  width: 25px;
    height: 25px; */
  }
  .table .ok,
  .table .no-tiene,
  .table .sector{
    width: 25px;
    height: 30px;
    line-height: 25px;
    /* margin: 1px;
    padding: 6px; */
    /*  width: 25px;
    font-size: 10px;
    height: 25px; */
  }
  .modal-dialog{
    max-width: none;
  }
}